<iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{ current_song.soundcloud_url | trustAsResourceUrl }}" id="soundcloud-song"></iframe>

<div class="row">
  <div class="small-12 medium-4 columns" id="artists-container">
    <div class="small-12 columns artist" ng-repeat="song in songs" ng-class="{ playing: song.page_title === current_song.page_title }" ng-click="play(song)">
      <div class="small-2 columns">
        <i class="fa fa-play"></i>
      </div>
      <div class="small-10 columns">
        <p class="title">{{ song.page_title }}</p>
      </div>
    </div>

  </div>

  <div class="small-12 columns show-for-small-only" id="artist-dropdown-btn">
    View artists
    <i class="fa fa-angle-double-down"></i>
  </div>

  <div class="small-12 medium-8 columns" id="artist-info">
    <h1>{{ current_song.page_title }}</h1>
    <p><strong>LOVE</strong><br><span ng-bind-html="current_song.love | trustAsHtml"></span></p>
    <p><strong>WHO &amp; WHERE</strong><br><span ng-bind-html="current_song.who_where | trustAsHtml"></span></p>
    <p><strong>CRED</strong><br><span ng-bind-html="current_song.cred | trustAsHtml"></span></p>
  </div>
</div>